<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncUsageAnalyzers" version="1.0.0-alpha003" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.0.0" targetFramework="net452" />
  <package id="Nancy" version="2.0.0" targetFramework="net452" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net451" />
  <package id="Nancy.Metadata.Modules" version="2.0.0-barneyrubble" targetFramework="net452" />
  <package id="Nancy.Swagger" version="2.1.1-alpha" targetFramework="net451" />
  <package id="Nancy.Swagger.JsonNET" version="1.0.15-alpha" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net451" />
  <package id="protobuf-net" version="3.0.0-alpha.3" targetFramework="net451" />
  <package id="Swagger.ObjectModel" version="2.1.1-alpha" targetFramework="net451" />
  <package id="Swagger.ObjectModel.JsonNET" version="1.0.15-alpha" targetFramework="net452" />
  <package id="Topshelf" version="4.2.0.196-develop" targetFramework="net461" />
</packages>